<h1>Users</h1>

<form action="/new.html.erb" method="get">
<label for="usename">Username:</label>
<input type="text" id="usename" name="usename"><br><br>
<label for="email">Email:</label>
<input type="text" id="email" name="email"><br><br>
<label for="password">Password:</label>
<input type="password" id="password" name="password"><br><br>
<input type="submit" value="Submit">
</form> 